.container {
    height: 100vh;
    padding: 2em;
}

.card {
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}

.user-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.search-input {
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    max-width: 400px;
    font-size: 1em;
}
